body{
    max-width:960px;
    margin:0px auto;
}
.header {
    background-color: white;
}
.cats {
    border-top: 2px solid gray;
}
.cat {
    display:inline;
    padding-right: 10px;
    padding-left: 10px;
    transition: 1s;
}
.cat:hover {
    background-color: gray;
}

.footer {
    border-bottom: 3px solid;
    margin:0px auto;
    min-height:80px;
    }
.hours, .logo, .contact {
    float:left;
    max-width:200px;
    height:75px;
    border-left: 3px solid;
    padding-left: 2px;
    }