.homeHeader h1{
    font-size:5em;
    font-family:unknown;
}

.homeBody p{
    font-family:uknown;
    margin-left:7%;
}
.homeSlides{
    width:70%;
    height:10px;
    margin-top:70%;
    margin-left:15%;
    background-color:yellow;
}
.homeSlide{
    height:10%;
    float:left;
    width:33%;
}