.homeHeader h1{
    font-size:5em;
    font-family:unknown;
}
.homeBody{
    margin-left:10%;
}
.homeBody p{
    font-family:uknown;
}
.homeSlides{
    width:50%;
    height:10px;
    margin-top:50%;
    margin-left:20%;
    background-color:yellow;
}
.homeSlide{
    height:10%;
    float:left;
    width:33%;
}