html {
    font-family: 'Helvetica Neue', Verdana, Arial, sans-serif;
    color: #333;
}

.ysm-main, .ysm-navbar {
    max-width: 960px;
    padding: 10px;
    margin: 0 auto;
}

.ysm-navbar-container {
    background-color: #2c3e50;
    overflow: hidden;
}

.ysm-navbar {
    overflow: hidden;
}

    .ysm-navbar-left {
        float: left;
    }

    .ysm-navbar-right {
        float: right;
    }

    .ysm-navbar-item {
        display: inline-block;
        line-height: 60px;
        vertical-align: middle;
    }

        .ysm-navbar-item + .ysm-navbar-item {
            padding-left: 10px;
        }

        .ysm-navbar-item img {
            display: block;
        }

        .ysm-navbar-item a {
            color: #ecf0f1;
            text-decoration: none;
        }

            .ysm-navbar-item a:hover {
                color: #bdc3c7;
            }

.ysm-logo img {
    max-height: 60px;
}
.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
form{
    padding-top: 3px;
}
.floor-plan img{
    float: left;
    padding-right: 10px;
}
.floor-plan-text{
    float:left;
    max-width: 330px;
}
.floor-plan{
   height: 405px
}
.gallery img{
    padding-top:3px;
}
@media screen and (max-device-width: 500px) {
   .gallery img{
      width:400px;
   }
}
.home-slide{
    max-width: 700px;
}
.home-slide div{
    float:left;
    max-width: 150px;
}


.home-img-text{
    font-family: 'Montserrat', sans-serif;
}
