<div>
    <h2>About Us</h2>
    <img class="aboutUsImage" src="" />
    <p style="text-indent:20px;">
        Welcome to Y.S-Management, where country living is within city limits. Great schools, shopping, and living are within walking distance.
        Downtown Killeen as well as the main gate to Ft. Hood are just a few minute drive away.
        There are two local hospitals as well as Southern renound Baylor Scott and White Hospitals.
        Y.S.-Management is nestled on Bacon Ranch Road between Trimmer road and W.S. Young road.
    </p>
    <div class="google-maps">
    <iframe src="
        https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6833.622493553869!2d-97
        .7273001478196!3d31.08717699707377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8
        6454ba54c58340d%3A0x6e1be7b1dca1cccf!2s1500+Bacon+Ranch+Rd%2C+Killeen%2C+TX+76542!5e0!3m2
        !1sen!2sus!4v1435193263029"
          width="100%" height="650" frameborder="0"  allowfullscreen></iframe>
    </div>
</div>
