<h2>Contact Us</h2>
<div>
    <ul>
        <li>Email: Y.S.-Management@gmail.com</li>
        <li>Phone: (254)526-9009</li>
        <li>Mailing Address:</li>
    </ul>
    <form action="https://docs.google.com/forms/d/1s0FUZ1Lb4Bw7X5xRiAWXwkWJWlfoSzM545g-6QfrIZs/formResponse?embedded=true" method="POST" id="ss-form" onsubmit="">
        <h2>Report an issue</h2>
        <label>Building letter, then unit</label><br/>
        <input class="form-control" type="text" name="entry.936167835" value="" dir="auto" title=""><br/>
        <label>How urgent is the issue?</label> <br/>
        <select name="entry.822811448">
            <option value=""></option>
            <option value="Critical">Critical</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
            <option value="None, Cosmetic">None, Cosmetic</option>
        </select><br />
        <label>What is the issue?</label><br/>
        <input class="form-control" type="text" name="entry.116948257" value="" dir="auto" title=""><br/>
        <input  type="submit" name="submit" value="Submit" id="ss-submit">
        </form>
</div>
