<h2>Contact Us</h2>
<div>
    <ul>
        <li>Email: Y.S.-Management@gmail.com</li>
        <li>Phone: (254)526-9009</li>
        <li>Mailing Address:</li>
    </ul>
    <h2>Report an issue</h2>
    <<form action="https://docs.google.com/forms/d/1s0FUZ1Lb4Bw7X5xRiAWXwkWJWlfoSzM545g-6QfrIZs/formResponse?embedded=true" method="POST" id="ss-form" onsubmit="">
        <input type="text" name="entry.936167835" value="" id="entry_936167835" dir="auto" aria-label="Current Unit First the building letter, Then the unit letter " title="">
        <select name="entry.822811448" id="entry_822811448" aria-label="How urgent is the Issue? All issues are important, please just help us prioritize  ">
            <option value=""></option>
            <option value="Critical">Critical</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
            <option value="None, Cosmetic">None, Cosmetic</option>
        </select>
        <input type="text" name="entry.116948257" value=""  id="entry_116948257" dir="auto" aria-label="What is the issue?  " title="">
        <input type="submit" name="submit" value="Submit" id="ss-submit">
        </form>
</div>
