<h1>Gallery</h1>
<div class="gallery">
    <div class="floor-plan">
        <img src="http://placehold.it/600x400/" />
        <h1>Floor Plan One</h1>
        <div>
            <ul>Two Floors,</ul>
            <ul>Two bedroom, one and a half bath.</ul>
            <ul>1327 Sq. Ft.</ul>
            <ul>Major appliances, Fridge/Freezer, Oven, and Dishwaser included</ul>
            <ul>765$/Month</ul>
        </div>
    </div>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <div class="floor-plan">
        <img src="http://placehold.it/600x400/" />
        <h1>Floor Plan Two</h1>
        <div>
            <ul>Two Floors,</ul>
            <ul>Two bedroom, one and a half bath.</ul>
            <ul>1127 Sq. Ft.</ul>
            <ul>Major appliances, Fridge/Freezer, Oven, and Dishwaser included</ul>
            <ul>Tile optional</ul>
            <ul>725/Month, W/Tile 750$/Month</ul>
        </div>
    </div>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
</div>
