<h1>Gallery</h1>
<div class="gallery">
    <div class="floor-plan">
        <img src="http://placehold.it/600x400/" />
        <p>
            floor plan one <br>
            info
        </p>
    </div>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <div class="floor-plan">
        <img src="http://placehold.it/600x400/" />
        <p>
            floor plan two <br>
            info
        </p>
    </div>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
</div>
