<h1>Gallery</h1>
<div class="gallery">
    <div class="floor-plan">
        <img src="http://placehold.it/600x400/" />
        <div class="floor-plan-text">
            <h2>Floor Plan One</h2>
            <div>
                Two Floors,<br/>
                Two bedroom, one and a half bath.<br/>
                1327 Sq. Ft.<br/>
                Major appliances, Fridge/Freezer, Oven, and Dishwaser included<br/>
                765$/Month
            </div>
        </div>
    </div>
    <img src="http://i.imgur.com/97GLOLR.jpg?3"/>
    <img src="http://i.imgur.com/M24n4X9.jpg?3"/>
    <img src="http://i.imgur.com/SP0wFM3.jpg?3"/>
    <img src="http://i.imgur.com/vtT6B9M.jpg?3"/>
    <img src="http://i.imgur.com/W6BN1xB.jpg?3"/>
    <img src="http://i.imgur.com/nThTtKV.jpg?3"/>
    <div class="floor-plan">
        <img src="http://placehold.it/600x400/" />
        <h1>Floor Plan Two</h1>
        <div>
            Two Floors,<br/>
            Two bedroom, one and a half bath.<br/>
            1127 Sq. Ft.<br/>
            Major appliances, Fridge/Freezer, Oven, and Dishwaser included<br/>
            Tile optional<br/>
            725/Month, W/Tile 750$/Month
        </div>
    </div>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
    <img src="http://placehold.it/300x230/"></img>
</div>
